PORT=
NODE_ENV=

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=postgres

# Authentication
REFRESH_TOKEN_SECRET=

# Public key hosted for Auth
JWKS_URI=http://localhost:5501/.well-known/jwks.json